.app-container {
  text-align: left;
}

.panels {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  max-height: 1300px;
  max-width: 1500px;
  /* background-color: bisque; */
}
